@import "../../../../assets/scss/variables";

.header-page {
  background: $colorWhite;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  .header-ctn {
    padding: 12px 0;
    .nav-header {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;
      text-align: left;
      display: inline-flex;
      align-items: center;
      width: 100%;
      li {
        display: inline-block;
        height: auto;
        padding: 0;
        line-height: 0;
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #575757;
          display: inline-flex;
          align-items: center;
          height: 52px;
          box-sizing: border-box;
          padding: 7px 15px;
          img {
            margin-right: 10px;
          }
          svg {
            font-size: 18px;
            margin-right: 7px;
            fill: #0085ff;
          }
          &:hover {
            color: #0085ff;
          }
        }
      }
    }
    .nav-left {
      text-align: left;
    }
    .nav-right {
      text-align: right;
    }
    .logo-main {
      width: 100%;
      text-align: center;
      a {
        display: inline-block;
        width: 227px;
        height: 41px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
  }
}

// responsive
@media (max-width: 1024px) {
  .header-page {
    .header-ctn {
      padding: 5px 0;
      .nav-header {
        li {
          a {
            font-size: 12px;
            height: 48px;
            padding: 0 10px;
          }
        }
      }
      .logo-main {
        a {
          height: auto;
          width: 200px;
          line-height: 27px;
          img {
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .header-page {
    padding: 0;
    .header-ctn {
      padding: 0;
      .logo-main {
        a {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header-page {
    .header-ctn {
      .barMobile {
        text-align: right;
        a {
          font-size: 18px;
        }
      }
    }
  }
  .popup-menu-mb {
    .ant-drawer-header {
      .mb-log {
        a {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    .navBar-mb {
      padding: 0;
      margin: 0;
      list-style: none;

      .navBar-item {
        line-height: 30px;
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #575757;
          display: inline-flex;
          align-items: center;
          box-sizing: border-box;
          padding: 8px 15px;
          &:hover {
            cursor: pointer;
            color: $colorBlue;
          }
        }
      }
    }
  }
}
