// colors
$colorPrimary: #2C9AFF;
$colorBlue: #0085FF;
$colorText: #575757;
$colorComplementry: #FF8F40;
$colorYellow: #FCCA46;
$colorWhite: #FFFFFF;
$colorBlack: #151515;

// backgrounds
$bgPage: #E4F2FB;
$bgWhite: #fff;