@import "../../../../assets/scss/variables";

.product-item {
  background: $bgWhite;
  border-radius: 30px;
  margin-bottom: 21px;
  .actions {
    padding: 15px 20px 0 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
    .favorite {
      font-size: 22px;
      color: #000000;
      opacity: 0.3;
    }
    .add-card {
      float: right;
    }
  }
  .info {
    padding: 0 15px 15px;
    text-align: center;
    h6 {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      /* or 143% */

      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #202020;
      margin-bottom: 11px;
    }
    .price {
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0;
        color: #202020;
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 13px;
          text-decoration-line: line-through;
          color: #969696;
        }
      }
    }
  }
  .product-ft {
    border-top: 1px solid #e0e4e8;
    width: 100%;
    display: inline-block;
    border-radius: 0 0 30px 30px;
    padding: 13px;
    text-align: center;
    a.buy-now {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $colorBlue;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .product-item {
    .actions {
      .favorite {
        font-size: 20px;
      }
      .add-card {
        img {
          width: 20px;
        }
      }
    }
    .info {
      h6 {
        font-size: 12px;
      }
      .price {
        p {
          font-size: 12px;
          span {
            font-size: 9px;
          }
        }
      }
    }
    .product-ft {
      padding: 10px;
      a.buy-now {
        font-size: 12px;
      }
    }
  }
}
