@import "../../../assets/scss/variables";

.header {
  text-align: right;
  width: 100%;
  overflow: hidden;
  padding: 24px 0;
  .hd-top {
    margin-bottom: 24px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-flex;
        align-items: center;
        margin-left: 24px;
        svg {
          font-size: 16px;
          color: #fff;
        }
        a {
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 17px;
          /* identical to box height */
          font-family: "Montserrat", sans-serif;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          color: #fff;
          padding: 7px 10px;
          &:hover {
            cursor: pointer;
            // color: $colorBlue;
          }
        }
      }
    }
  }
  .hd-bot {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-flex;
        align-items: center;
        margin-left: 24px;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          padding: 7px 10px;
          color: #fff;
          &:disabled{
            cursor: not-allowed !important;
          }
          &:hover {
            cursor: pointer;
            // color: $colorBlue;
          }
        }
      }
    }
  }
}

.colorDark{
  ul{
    li {
      svg{
        color: #000 !important;
      }
      a{
        color: #000 !important;
      }
    }
  }
}