@import "../../assets/scss/variables";

.buy-colors {
  .colors-ctn {
    padding: 63px 0 80px;
    .info {
      margin-top: 90px;
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #0085ff;
        margin-bottom: 29px;
      }
      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 36px;
        /* or 138% */

        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #151515;
      }
    }
    .img-colors {
      img {
        width: 100%;
      }
    }
  }
}
