@import "../../assets/scss/variables";

.partners {
  .partners-title {
    margin-bottom: 75px;
    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #0085ff;
      margin-bottom: 19px;
    }
    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #151515;
      margin-bottom: 0;
    }
  }
  .partners-top {
    margin-top: 152px;
    .partner-item {
      border-radius: 30px;
      .item-ctn {
        background: rgba(91, 123, 152, 0.35);
        // mix-blend-mode: overlay;
        padding: 80px 21px 30px;
        border-radius: 30px;
        // background: #00488a;
        // mix-blend-mode: overlay;
        // opacity: 0.4;
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-transform: uppercase;
          color: #ffffff;
          margin-bottom: 3px;
        }
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */

          letter-spacing: 0.1em;
          text-transform: uppercase;

          color: #ffffff;
          margin-bottom: 30px;
        }
        .ant-btn {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          color: #0085ff;
          background: #ffffff;
          border-radius: 30px;
          height: auto;
          padding: 8px 18px;
          border: none;
        }
      }
    }
    .air-optix {
      background: url("../../assets/images/backgrounds/bg1.png") no-repeat
        center center;
      background-size: cover;
    }
    .fresh-look {
      background: url("../../assets/images/backgrounds/bg2.png") no-repeat
        center center;
      background-size: cover;
    }
    .easy-fit {
      background: url("../../assets/images/backgrounds/bg3.png") no-repeat
        center center;
      background-size: cover;
    }
  }
  .partners-bottom {
    height: 210px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    background: #7ED9F7;
    margin-top: -100px;
  }
}
