@import "../../assets/scss/variables";

.silder-page {
  .container {
    position: relative;
  }
  .action-next {
    position: absolute;
    right: -80px;
    top: 120px;
    cursor: pointer;
  }
  .action-prev {
    position: absolute;
    left: -80px;
    top: 120px;
    cursor: pointer;
  }
  .slider-home {
    padding: 70px 0;
    .slider-item {
      .slider-image {
        img {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}


@media(max-width: 1024px){
  .silder-page{
    .action-next{
      width: 30px;
      right: -10px;
      top: 110px;
      img{
        width: 100%;
      }
    }
    .action-prev{
      width: 30px;
      left: -10px;
      top: 110px;
      img{
        width: 100%;
      }
    }
    .slider-home{
      width: 90%;
      margin: 0 auto;
    }
  }
}