.ex-page {
  // position: relative;
  .fixed-content {
    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 50;
    }
    .actions-page {
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      z-index: 50;
      bottom: 80px;
      a {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #000000;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .banner {
    // margin-top: 130px;
    padding: 0 30px;
    h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 90px;
      line-height: 100px;
      /* or 100% */
      width: 50%;
      letter-spacing: 0.1em;

      color: #000000;
    }
    h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 38px;
      line-height: 51px;
      text-transform: uppercase;
      width: 400px;
      color: #ffffff;
    }
    .ant-btn {
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 17px;
      text-align: center;

      color: #ffffff;
      background: none;
      height: auto;
      padding: 10px 24px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-flex;
        align-items: center;
        margin-right: 40px;
        a {
          font-style: normal;
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
          text-decoration-line: underline;

          color: #000000;
        }
      }
    }
  }
  .ctn-bot {
    margin-top: 170px;
    h4 {
      width: 400px;
      margin: 0 auto 24px;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      text-transform: uppercase;
      color: #2fabf7;
      text-align: center;
    }
  }
  .img-s11 {
    margin-left: 15%;
  }
  .img-s12 {
    margin-left: 30%;
  }
  .img-s13 {
    margin-left: 60%;
    width: 400px;
  }
}
